apiVersion: v1
kind: Service
metadata:
  name: okr-management-service
  labels:
    app: okr-management
spec:
  type: LoadBalancer
  ports:
  - port: 80
    targetPort: 8080
    protocol: TCP
    name: http
  selector:
    app: okr-management
